
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* INICIO CSS PAGINA HOME*/
#body-home{
    background-image: url('../images/home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* CABEÇALHO */
header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.top{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left,
.top-right{
    display: flex;
    align-items: center;
}
.top-left img{
    margin-left: 60px;
}
.line-menu{
    height: 2px;
    background-color: #ffffff25;
    width: 400px;
    border: none;
    margin-left: 200px;
    z-index: 1;
    position: absolute;
}
.menu{
    width: 800px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* efeito glassmorphism*/
    background: rgba( 255, 255, 255, 0.01 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 80%;
}
.bold{
    font-weight: bold;
}
.btn, .active{
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
}
.active, .btn:hover{
    border-bottom: 4px solid #ffffff;
}
/* FIM CABEÇALHO */

/* INICIO CONTENT HOME */

section{
    height: 100%;
    width: 100%;
    display: flex;
}
.content-left,.content-right{
    flex: 2;
}
.subtitle-home{
    color: #d1d4e7;
    margin-top: 100px;
    margin-left: 150px;
    text-transform: uppercase;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title-home{
    color: #fafaf8;
    margin-left: 150px;
    text-transform: uppercase;
    font-size: 100px;    
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-content-home{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: auto;
    line-height: 20px;
    color: #d1d4e7;
    text-align: justify;
    margin-left: 150px;
    margin-top: 50px;
    font-size: 12px;    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.circle-content-home{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 220px;
}
/* FIM CONTENT HOME */

/* INICIO MODO TABLET PAGINA HOME */

@media (max-width: 800px){
    .line-menu{
        display: none;
    }
    #body-home{
        background-image: url('../images/home/background-home-tablet.jpg');
        background-size: 800px 768px;
    }
    section{
        flex-direction: column;
    }
    .menu{
        width: 400px;
        font-size: 10px;
        height: 100px;
    }
    .top{
        height: 0px;
       margin-top: 0px;
       
    }
    .btn, .active{
        height: 100px;
    }
    
}

/* FIM MODO TABLET PAGINA HOME*/

/* FIM CSS PAGINA HOME*/

/* ------------------------------------------------------------------------------------------------------ */

/* INICIO CSS PAGINA DESTINATION*/

#body-destination{
    background-image: url('../images/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* FIM CSS PAGINA DESTINATION*/

/* ------------------------------------------------------------------------------------------------------ */

/* INICIO CSS PAGINA CREW */

#body-crew{
    background-image: url('../images/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* FIM CSS PAGINA CREW */

/* ------------------------------------------------------------------------------------------------------ */

/* INICIO CSS PAGINA TECHNOLOGY*/

#body-technology{
    background-image: url('../images/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* FIM CSS PAGINA TECHNOLOGY*/
