*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: center;
}
.topo{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
}
.topo-esq,
.topo-dir{
    display: flex;
    align-items: center;
}
.topo-esq img{
    margin-left: 60px;
}
.linha{
    height: 1px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.192);
    margin-left: 200px;
    
    z-index: 1;
    position: absolute;
}
.menu{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* efeito glassmorphism*/
    background: rgba( 255, 255, 255, 0.01 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
}
nav ul li{
    list-style-type: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 800px;

}
.bold{
    font-weight: bold;
}
/*.fundo-embacado{  efeito glassmorphism
    height: 50px;
    width: 800px;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 5px );
    margin-top: 20px;
}*/