
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* INICIO CSS PAGINA TECHNOLOGY*/

/* CABEÇALHO */
html{
    height: 100%;
}
#body-technology{
    height: 80%;
    background-image: url('../images/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    border: none;
}
.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
.top-left,
.top-right{
    display: flex;
    align-items: center;
}
.top-left img{
    margin-left: 60px;
}
.line-menu{
    height: 2px;
    background-color: #ffffff25;
    width: 400px;
    border: none;
    margin-left: 200px;
    z-index: 1;
    position: absolute;
}
.menu{
    width: 800px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* efeito glassmorphism*/
    background: rgba( 255, 255, 255, 0.01 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
}
.menu nav ul li{    
    list-style-type: none;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}
.menu nav ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
}
.bold{
    font-weight: bold;
}
.btn, .active{
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
}
.active, .btn:hover{
    border-bottom: 4px solid #ffffff;
}
.menu-mobile{
    width: 40px;
    height: 40px;
}
.line-menu-mobile{
    height: 3px;
    background-color: #d1d4e7;;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.menu-circle{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 190px;
    margin-top: 200px;
    border: 1px solid red;
}
.menu-circle nav ul li{
    list-style-type: none;
}
.btn-circle{
    text-decoration: none;
    font-size: 50px;
}
.btn-link,.circle-active{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    margin: 30px;
}
.circle-active{
    background-color: #ffffff;
}
.title{
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    margin-left: -40px;
}
.subtitle{
    display: flex;
    font-size: 15px;
    color: #d1d4e7;
    margin-top: 180px;
    margin-left: 50px;
}
.name-technology{
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
    margin-left: 50px;
}
.inf-technology{
    width: 65%;
    margin-top: 10px;
    margin-left: 50px;
    text-align: justify;
    color: #d1d4e7;
}
.content-right img{
    width: 300px;
    height: 400px;

}
.content-left{
    width: 40%;
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.content-right, .content-left{
    border: 1px solid red;
}
/* FIM CABEÇALHO */

/* INICIO MODO TABLET PAGINA TECHNOLOGY */
@media screen and (min-width: 671px)  {
    .menu-mobile{
        display: none;
    }
    
}
@media screen and (max-width: 1290px){
    .line-menu{
        width:  350px;
    }
}
@media screen and (max-width: 1240px){
    .line-menu{
        width: 300px;
    }
}
@media screen and (max-width: 1190px){
    .line-menu{
        width: 250px;
    }
}
@media screen and (max-width: 1140px){
    .line-menu{
        width: 200px;
    }
}
@media screen and (max-width: 1090px){
    .line-menu{
        width: 150px;
    }
}
@media screen and (max-width: 1040px){
        .line-menu{
            width: 100px;
        }
}
@media screen and (max-width: 1000px){
    .line-menu{
        display: none;
    }
}
@media screen and (max-width: 935px){
    .line-menu{
        display: none;
    }
    #body-technology{
        background-image: url('../images/technology/background-technology-tablet.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .menu{
        width: 550px;
        font-size: 15px;
        height: 100px;
    }
    .top{
        height: 100px;
    }
    .btn, .active{
        height: 100px;
    } 
}

/* FIM MODO TABLET PAGINA TECHNOLOGY */

/* INICIO MODO MOBILE PAGINA TECHNOLOGY */

@media screen and (min-width: 300px) and (max-width: 670px)  {
    #body-technology{
        background-image: url('../images/technology/background-technology-mobile.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
   .menu{
        width: 0;
        height: 0;
    }
    .menu nav{
        margin-right: 130px;
    }
    .menu nav ul{    
        flex-direction: column;
        display: none;
        position: absolute;
    }
    .menu nav ul li{
        background: rgb(31, 30, 30);
        width: 150px;
 }
    .btn, .active{
        height: 60px;
    }
}

/* FIM MODO MOBILE PAGINA TECHNOLOGY */

/* FIM CSS PAGINA TECHNOLOGY */

